@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: #474747;
  @apply bg-my-nude;
}

.container {
  @apply w-full max-w-3xl p-5 mx-auto;
}

h2 {
  @apply mb-6 justify-self-center font-bold text-2xl;
}

h1 span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.my-form {
  @apply mx-auto sm:w-96 px-5 bg-my-pink py-8 rounded-md shadow-lg transition duration-300 ease-in-out transform;
}

.btn-primary {
  @apply flex items-center gap-1 p-5 font-semibold shadow-lg bg-my-green rounded-md hover:scale-105;
}